.content div p {
  margin: 10px;
}
#main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* background-color: rgb(185, 178, 178); */
  /* margin-left:100px; */
}
.right-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.check-box {
  display: flex;
  margin-left: 10px;
}
.check {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-bottom: 15px;
  margin-right: 10px;
  border: #696969;
}
p {
  color: rgb(162, 163, 164);
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 10px;
  cursor: pointer;
}
#search {
  background-color: rgb(244, 239, 239);
  border: none;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  /* width:240px; */
  font-size: 13.5px;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.checkmark {
  color: rgb(162, 163, 164);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13.5px;
  border: none;
}
.head {
  color: rgb(143, 143, 137);
  margin-left: 17px;
  cursor: pointer;
  /* padding:20px; */
  width: 220px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  margin-top: 10px;
}

.head:after {
  content: "-";
  color: black;
  font-size: 25px;
  float: right;
  margin-right: 2px;
  margin-top: -10px;
}

/* // above css added by madhavi  */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: Metropolis, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

body {
  background-color: #efecec;
}

#main-container {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: auto;
  gap: 20px;
}

#nav {
  display: flex;
  justify-content: space-between;
}
#nav h2 {
  margin-top: 20px;
}
#sortby {
  padding: 0 15px;
  height: 36px;
  border: 1px solid #dcdcdc;
  display: block;
  background-color: #fff;
  border: none;
  border-radius: 4px;
}

#sortby > option {
  padding: 8px 15px;
  border-bottom: 1px solid #dcdcdc;
  color: #696969;
  cursor: pointer;
}

#filter-container {
  display: flex;
  flex-direction: column;
  gap: 2px;

  border-radius: 5px;
  padding: 10px;
  flex-grow: 1;
  margin-left: -80px;
  /* width: 20%; */
  margin-top: 20px;
}

#productContainer {
  display: flex;
  /* width: 50%; */
  flex-direction: column;
  flex-grow: 3;
  margin-top: 20px;
}

.left-filter {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
}
#product-details {
  background-color: #f4f4f4;

  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  row-gap: 20px;
  column-gap: 35px;
}
body {
  margin: 0;

  background-color: rgba(175, 170, 170, 0.288);
}
#header2 {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
  margin: 20px;
  background-color: white;
  z-index: 1;
  margin-top: 0;
  padding-top: 20px;
}
#navend {
  position: fixed;
  width: 100%;
  padding-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.144) 0px 25px 20px -20px;
  background-color: white;
}
#serachbar2 {
  display: flex;
  align-items: center;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
}
#header2::after {
  border-top: 1px solid #333;
}
#logo {
  margin-left: 80px;
  content: "";
}
.searchLogo2 {
  width: 20px;
  display: block;
  margin: 0px -10px 0 10px;
}
#city2 select {
  margin-top: 5px;
  margin-left: 30px;
  height: 30px;
  align-self: center;
  padding-left: 30px;
  padding-right: 10px;
  border: 0.1px solid gray;
  border-radius: 5px;
  color: #333;
}
#search2 {
  margin-left: 20px;
  height: 25px;
  width: 450px;
  padding-left: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
}
#searchBut2 {
  height: 32px;
  margin-left: -2px;
  margin-right: -1px;
  font-weight: bold;
  font-size: 90%;
  color: white;
  background-color: #ff645a;
  border: 0;
  border-radius: 5px;
  padding: 1px 20px;
}
#searchBut2:hover {
  cursor: pointer;
  background-color: red;
}
#log {
  margin-left: 20px;
  height: 32px;
  font-size: 90%;
  font-weight: bold;
  color: white;
  background-color: #ff645a;
  border: 0;
  border-radius: 5px;
  padding: 6px 40px;
}
#log:hover {
  cursor: pointer;
}
#loc1 {
  position: absolute;
  left: 265px;
  top: 35px;
}
#searchlogo {
  position: absolute;
  left: 510px;
  top: 35px;
}
#lowerhead {
  display: flex;
  justify-content: center;
  background-color: white;
}
#lowerhead a {
  text-decoration: none;
  margin: 20px;
  color: #333;
}
#lowerhead a:hover {
  color: red;
}
#mainHeader {
  box-shadow: rgba(0, 0, 0, 0.144) 0px 25px 20px -20px;
  padding-bottom: 10px;
  background-color: white;
}
#location2 {
  width: 0;
  height: 0;
  align-self: flex-start;
  z-index: 1;
}
#city2 > select {
  width: 150px;
  margin-top: -10px;
}
#loc2 {
  width: 20px;
  padding-top: 6px;
  padding-left: 35px;
}
#loginD {
  margin: 2px 0 0 55px;
}
#loginD select {
  height: 30px;
  width: 120px;
  border-radius: 5px;
  border: none;
  outline: none;
}
#loginD i {
  margin: 0 10px 0 -20px;
}
#city2 {
  display: flex;
  margin: 0;
  padding: 0px 10px;
}
