body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
img {
  width: 120px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}
h1 {
  margin: 20px 0 0;
  font-size: 25px;
}
#parent > h1 {
  color: #ff645a;
}
input {
  margin: 8px 0 20px 0;
  padding: 15px 10px;

  border-radius: 8px;
  color: rgba(128, 128, 128, 0.685);
  border: 1px solid gray;
}
#parent {
  display: flex;
  flex-direction: column;
  box-shadow: gray 3px 5px 5px 5px;
  border-radius: 15px;
  align-items: center;
  width: 35%;
}
form {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 30px;
}
#para {
  text-align: center;
  margin: 10px 0 30px 0;
}
p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: -5px;
}
label {
  color: rgba(0, 0, 0, 0.781);
}
button {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #ff645a;
  background-color: white;
}
button > img {
  width: 25px;
  margin: 10px;
}
span {
  margin-top: 14px;
}
input[type="submit"]:hover {
  background-color: blue;
  color: white;
  background-color: #ff645a;
}
#show {
  width: 0;
  height: 0;
  align-self: flex-end;
  margin-right: 35px;
  z-index: 1;
}
#eye {
  width: 20px;
  padding: 10px 0 0 0;
}
